<configuration><configSections>
    </configSections>
    <connectionStrings>
        <add name="ClasesBase.Properties.Settings.institutoConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\lpoo2\TP-FINAL-LPOO2-2025\instituto.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>